body {
    font-family: "Times New Roman", Times, serif;
    color: Black;
    overflow-x: hidden;
}

#adminProcedure {
    margin-left: 35px;
}

#infra {
    border: 1px solid black;
    height: 200px;
}

#b {
    margin-left: 45px;
}