body {
    font-family: "Times New Roman", Times, serif;
    color: Black;
    overflow-x: hidden;
}

#principalDesk {
    /* border:1px solid black; */
    height: 950px;
}

#principalDeskContent {
    /* border:1px solid brown; */
    height: 750px;
    /* margin-top:100px; */
}

#principal {
    /* border:1px solid brown; */
    height: 100px;
}

@media only screen and (min-width:768px) and (max-width:992px) {
    #principalDesk {
        height: 1250px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    #principalDesk {
        height: 1150px;
    }
}

@media only screen and (min-width:200px) and (max-width:576px) {
    #principalDesk {
        height: 1590px;
    }
}