<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="header::superHeader"></div>
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/css/affilation.css}" type="text/css" rel="stylesheet"/>
<body>
<div th:replace="header::navbar"></div>
<div th:replace="header::logo"></div>
<div class="container-fluid" id="affilation">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

        </div>

        <br><br>
    </div>
</div>

<div th:replace="header::footer"></div>
</body>
</html>
