<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Sayapatri Higher Secondary School</title>


<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link th:href="@{/css/style.css}"  type="text/css" rel="stylesheet" />
<link th:href="@{/css/faculty.css}"  type="text/css" rel="stylesheet" />
</head>
<body>
<div th:replace="header::navbar"/>
<div th:replace="header::logo"/>
<div class="container" id="c">
    <div class="row">
        <div class="col-md-4 col-sm-4" id="ca">
            <div class="wrapper1001" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card" id="cab1">
                    <div class="flip-card-inner" id="cab2">
                        <div class="flip-card-front" id="cab3">
                            <img src="img/sa_1.jpg" alt="Avatar" id="cab">
                        </div>
                        <div class="flip-card-back" id="cab4">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4 col-sm-4"id="ca">
            <div class="wrapper1001" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card" id="cab1">
                    <div class="flip-card-inner" id="cab2">
                        <div class="flip-card-front" id="cab3">
                            <img src="img/sa_1.jpg" alt="Avatar" id="cab">
                        </div>
                        <div class="flip-card-back" id="cab4">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-md-4 col-sm-4"id="ca">
            <div class="wrapper1001" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card" id="cab1">
                    <div class="flip-card-inner" id="cab2">
                        <div class="flip-card-front" id="cab3">
                            <img src="img/sa_1.jpg" alt="Avatar" id="cab">
                        </div>
                        <div class="flip-card-back" id="cab4">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<br>


<div class="container" id="ab">

    <div class="row">
        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar"id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar"  id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar"  id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <br>
    <div class="row">

        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <!-- <img src="img/sa_1.jpg" style="height:198px;width:161px"> -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar"  id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar"  id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar"  id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4" id="a">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" id="b">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<div th:replace="header::footer"/>
</body>
</html>
</html>







