<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="header::superHeader"></div>
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/css/faculty.css}" type="text/css" rel="stylesheet"/>
<body>
<div th:replace="header::navbar"></div>
<div th:replace="header::logo"></div>
<div class="container" id="faculty">
    <div class="row">
        <div class="col-md-4 col-sm-4 faculty_flip">
            <div class="wrapper1001" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card faculty_flip_1">
                    <div class="flip-card-inner faculty_flip_2">
                        <div class="flip-card-front faculty_flip_3">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyID">
                        </div>
                        <div class="flip-card-back facultyIDBack">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4 col-sm-4 faculty_flip">
            <div class="wrapper1001" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card faculty_flip_1">
                    <div class="flip-card-inner faculty_flip_2">
                        <div class="flip-card-front faculty_flip_3">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyID">
                        </div>
                        <div class="flip-card-back facultyIDBack">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-md-4 col-sm-4 faculty_flip">
            <div class="wrapper1001" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card faculty_flip_1">
                    <div class="flip-card-inner faculty_flip_2">
                        <div class="flip-card-front faculty_flip_3">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyID">
                        </div>
                        <div class="flip-card-back facultyIDBack">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<br>


<div class="container CardOnly">

    <div class="row">
        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <br>
    <div class="row">

        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <!-- <img src="img/sa_1.jpg" style="height:198px;width:161px"> -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-2 col-sm-4 flipCard">
            <div class="wrapper1000" style="box-shadow: 5px 5px 5px grey;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sa_1.jpg" alt="Avatar" class="facultyIDBack_1">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<div th:replace="header::footer"></div>
</body>
</html>







