<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Notice Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="border:1px solid red;width:500px;height:600px;margin-top:5px;background-color:aqua;">
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="Logout" style="margin-left: 390px;margin-top: 5px;"/>
    </form>
    <form action="#" th:action="@{/add}" enctype="multipart/form-data" th:object="${notice}" method="post">
        <div class="form-group">
            <label for="title" class="col-form-label">Title*</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter the title"><span
                th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="message" class="col-form-label">Message*</label>
            <textarea class="form-control" id="message" rows="4" th:field="*{message}"
                      placeholder="Enter the message to be displayed"></textarea><span
                th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="file" class="col-form-label">Attachment</label>
            <input type="file" class="form-control" name="files" id="file" multiple>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Notice">
    </form>
</div>
</body>
</html>