<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(2, 51, 51);">
        <!-- Brand -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/principalDesk}">Principal's Desk</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">


                <ul class="nav navbar-nav">
                    <li><a th:href="@{/home}">Home</a></li>


                    <li><a th:href="@{/readMore}">About us</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">features<span
                            class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a th:href="@{/houseSystem}">House System</a></li>
                            <li><a th:href="@{/schoolTransport}">School Tansport</a></li>
                            <li><a th:href="@{/sports}">Sports and Games</a></li>
                            <li><a th:href="@{/curriculum}">Curriculum</a></li>
                            <li><a th:href="@{/attendance}">Attendance</a></li>
                            <li><a th:href="@{/project}">Project Work</a></li>
                            <li><a th:href="@{/studentCouncil}">Students Council</a></li>
                            <li><a th:href="@{/cocurricular}">Co-curricular activites</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Process<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class th:href="@{/admission}">Admission</a></li>
                            <li><a class th:href="@{/infrastructures}">Infrastructure</a></li>
                            <li><a class th:href="@{/affiliation}">Affiliation</a></li>
                        </ul>
                    </li>

                    <li><a th:href="@{/gallery}">Gallery</a></li>

                </ul>

            </div>
        </div>
    </nav>
</div>
<div th:fragment="superHeader">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>ABC Higher Secondary School</title>


        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>

</div>
<div th:fragment="footer">


    <!--Footer-->

    <div class="container-fluid" style="margin:0;padding:0;">

        <div class="row" style="background-color: rgb(50, 77, 75);">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="../images/logo.png" class="img-rounded" alt="logo of ABC"
                     style="width:120px;height:100px;margin-left:9px;margin-top:20px;">
                <h3 id="schoolHeader"><b> ABC Higher Secondary School</b></h3>
                <p id="addressHeader"><b>Ramgram-1,Parasi,Nepal</b></p>
                <br><br>
                <p id="aboutSchool">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.<a th:href="@{/readMore}" style="color:#337ab7;">[Read More...]</a></p>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <h2 class="contactAndFeedBack"><b>Contact Us</b></h2>
                <i class="fa fa-map-marker" style="font-size:20px;color:white; margin-left:10px;">
                    <h4 class="contact">G.P.O.Box No:1887,Parasi</h4>
                </i>
                <br>
                <i class="fa fa-phone" style="font-size:20px;color:white;margin-left:10px;">
                    <h4 class="contact">015230088,014555163,9852311582</h4>
                </i>
                <br>
                <i class="fa fa-mobile-phone" style="font-size:20px; color:white;margin-left:10px;">
                    <h4 class="contact">078-520520</h4>
                </i>
                <br>
                <i class="fa fa-envelope" style="font-size:20px;color:white;margin-left:10px;">
                    <h4 class="contact">info@shsh.edu.np(PA to Principal)</h4>
                </i>
                <br>
                <i class="fa fa-envelope" style="font-size:20px; color:white;margin-left:10px;">
                    <h4 class="contact">Principalinfo@shsh.edu.np(For direct communication with Principal Sir)</h4>
                </i>
            </div>


            <div class="col-lg-4 col-md-12 col-sm-12">

                <h2 class="contactAndFeedBack"><b>Feedback Form</b></h2>


                <form th:name="myForm" action="#" th:action="@{/addFeedback}" th:object="${feedback}"
                      onsubmit="return validateMyForm();" id="feedBack" method="POST">


                    <div class="form-group">
                        <input type="email" th:name="email" placeholder="Email Address" class="form-control">

                    </div>
                    <div class="form-group">
                        <textarea class="form-control rounded-0" th:name="message" id="exampleFormControlTextarea2"
                                  rows="3" placeholder="Message" required maxlength="4000"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" th:name="phone" id="mobile" placeholder="Mobile No"
                               maxlength="10" required>
                        <span id="message"></span>

                    </div>
                    <button type="submit" class="btn btn-default" id="feedBackButton"
                            style="width:100px;height:45px;margin-right:500px;">Submit
                    </button>
                </form>

            </div>


        </div>


    </div>
</div>
<!--end of footer-->
<!--logo-->
<div th:fragment="logo">
    <div class="container">
        <div class="wrapper1">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <img src="../images/logo.png" class="img-rounded" alt="logo of ABC"
                         style="width:120px;height:100px;">
                    <!-- </div>
                <div class="col-lg-10 col-md-10"> -->
                    <h3 id="abc" style=" font-family:Times New Roman, Times, serif; color:black;"><strong>ABC Higher
                        Secondary School</strong></h3>
                    <p id="abc1"><b>Ramgram-1,Parasi,Nepal</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of logo-->

<script>
    function validateMyForm() {
        var phone = document.getElementById("mobile").value;
        var message = document.getElementById('message');
        var goodColor = "#0C6";
        var badColor = "#FF9B37";
        if (phone.length != 10) {
            message.style.color = badColor;
            message.innerHTML = "required 10 digits, match requested format!"
            return false;
        } else {
            message.style.color = goodColor;
            message.innerHTML = ""
            return true;
        }

    }
    setInterval(() => {
        d = new Date(); //object of date()
        hr = d.getHours();
        min = d.getMinutes();
        sec = d.getSeconds();
        hr_rotation = 30 * hr + min / 2; //converting current time
        min_rotation = 6 * min;
        sec_rotation = 6 * sec;

        hour.style.transform = `rotate(${hr_rotation}deg)`;
        minute.style.transform = `rotate(${min_rotation}deg)`;
        second.style.transform = `rotate(${sec_rotation}deg)`;
    }, 1000);
</script>

</html>