<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>List of Notice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style1.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" type="text/css"/>
</head>

<body>
<div class="container-fluid">
    <!--    <h4>"${message}"</h4>-->
    <div class="sidenav">
        <a th:href="@{/adminList}">NoticeList</a>
        <a th:href="@{/feedBackList}">FeedBackList</a>
        <!--        <a href="#">Logout</a>-->
    </div>

</div>

<div class="container" style="border:1px solid red;width:750px;height:600px;margin-top:5px;overflow: auto;">
    <br>

    <div th:switch="${notices}">

        <a th:href="@{/form}" class="btn btn-primary">Add Notice</a>
        <a th:href="@{/home}" class="btn btn-primary">Home</a>
        <a th:href="@{/logout}" class="btn btn-primary" methods="post">Logout</a>
        <label for="myInput"></label><input type="text" id="myInput" placeholder="Search...">


        <div class="col-md-12">
            <h2 th:case="null">No Notice yet!</h2>
            <div th:case="*">

                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr th:each="x:${notices}">

                        <td th:text="${x.id}"></td>
                        <td th:text="${x.title}"></td>
                        <td th:text="${x.message}"></td>
                        <td><a th:href="@{/edit/{id}(id=${x.id})}" class="btn btn-primary">Edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${x.id})}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>